<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp0AD1E85784D6D319FDEC2FC0973B2A5F" Guid="*">
                <File Id="fil52F2DB7FD45B97F00C08CBC2B64FBFA7" KeyPath="yes" Source="$(var.HarvestPath)\Assets.pak" />
            </Component>
            <Component Id="cmpFF71769B2BBCCDDA5899221C0383FF13" Guid="*">
                <File Id="fil475044D3B362116413DCC77EDFD27780" KeyPath="yes" Source="$(var.HarvestPath)\config.xml" />
            </Component>
            <Component Id="cmp233DA87865D8E1F7A008246AF09C57F9" Guid="*">
                <File Id="fil234291F19DE2AB90D754479E42496D39" KeyPath="yes" Source="$(var.HarvestPath)\Game.exe" />
            </Component>
            <Component Id="cmpCF1E215A80FB6EC3FF19F7AE9C7107E5" Guid="*">
                <File Id="fil4F78FCCDED085E2F3CD75BF27B00F761" KeyPath="yes" Source="$(var.HarvestPath)\libogg-0.dll" />
            </Component>
            <Component Id="cmp12F0C448A405134CF5FCE8B012ED00DC" Guid="*">
                <File Id="fil420B14BA8DA79A96AF1D7EAD529FA341" KeyPath="yes" Source="$(var.HarvestPath)\libpng16-16.dll" />
            </Component>
            <Component Id="cmpB2478D88F2CA3BDA61B643B58AD5DC07" Guid="*">
                <File Id="fil54D57DAA0450ECAE0B0E1A84569502A9" KeyPath="yes" Source="$(var.HarvestPath)\libvorbis-0.dll" />
            </Component>
            <Component Id="cmpA4357E7EB673F1EE343273DA70FB26B5" Guid="*">
                <File Id="fil890CAF239431C5D329F21E7067A86342" KeyPath="yes" Source="$(var.HarvestPath)\libvorbisfile-3.dll" />
            </Component>
            <Component Id="cmp494E092250B7C893DA1C32C4422DF045" Guid="*">
                <File Id="filC769F729191056761AF8236A31B87EAE" KeyPath="yes" Source="$(var.HarvestPath)\physfs.dll" />
            </Component>
            <Component Id="cmpC27FF44AFECF57237FFAD7E5327A5A83" Guid="*">
                <File Id="fil4B82DC508A8DF3C7BA5E8C5D1EDDAD5F" KeyPath="yes" Source="$(var.HarvestPath)\save_game.xml" />
            </Component>
            <Component Id="cmp77F2718815C37DF1CD595A4164461B7A" Guid="*">
                <File Id="filC50EEA5B1CD3382FF2ED29C29DF6B8AF" KeyPath="yes" Source="$(var.HarvestPath)\SDL2.dll" />
            </Component>
            <Component Id="cmpD5527425E607FED29E84E1424D4A0F52" Guid="*">
                <File Id="fil988E917E88F23B6D471ACDB40E2A55F6" KeyPath="yes" Source="$(var.HarvestPath)\SDL2_image.dll" />
            </Component>
            <Component Id="cmp23267DA5F20E5C06C5B8F213F7E64543" Guid="*">
                <File Id="fil965E1BEB465B3CA406A4B93ADE2B40D8" KeyPath="yes" Source="$(var.HarvestPath)\SDL2_mixer.dll" />
            </Component>
            <Component Id="cmpF4A8048A71525C11F1A3E739F4D244F4" Guid="*">
                <File Id="filA804FE7264B6C5149D3FAFCCD50945CD" KeyPath="yes" Source="$(var.HarvestPath)\zlib1.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HeatGenerated">
            <ComponentRef Id="cmp0AD1E85784D6D319FDEC2FC0973B2A5F" />
            <ComponentRef Id="cmpFF71769B2BBCCDDA5899221C0383FF13" />
            <ComponentRef Id="cmp233DA87865D8E1F7A008246AF09C57F9" />
            <ComponentRef Id="cmpCF1E215A80FB6EC3FF19F7AE9C7107E5" />
            <ComponentRef Id="cmp12F0C448A405134CF5FCE8B012ED00DC" />
            <ComponentRef Id="cmpB2478D88F2CA3BDA61B643B58AD5DC07" />
            <ComponentRef Id="cmpA4357E7EB673F1EE343273DA70FB26B5" />
            <ComponentRef Id="cmp494E092250B7C893DA1C32C4422DF045" />
            <ComponentRef Id="cmpC27FF44AFECF57237FFAD7E5327A5A83" />
            <ComponentRef Id="cmp77F2718815C37DF1CD595A4164461B7A" />
            <ComponentRef Id="cmpD5527425E607FED29E84E1424D4A0F52" />
            <ComponentRef Id="cmp23267DA5F20E5C06C5B8F213F7E64543" />
            <ComponentRef Id="cmpF4A8048A71525C11F1A3E739F4D244F4" />
        </ComponentGroup>
    </Fragment>
</Wix>